@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('./assets/fonts/BasisGrotesquePro-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-family: 'Basis Grotesque Pro';
  }